@import url('https://fonts.cdnfonts.com/css/telegraf');

body {
  font-family: 'Telegraf', sans-serif;
  color: white;
  background-color: black;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.tittle_left {
  font-size: clamp(24px, 4vw, 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  text-align: center;
}

.box_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  width: 50vw;
  height: 100vh;
  background-image: url(/SmartVoice/images/backgrd.jpg);
  
}

.box_right h2 {
  font-size: clamp(24px, 3vw, 40px);
}

.box_right h3 {
  font-size: clamp(18px, 2.5vw, 30px);
}

@media (max-width: 800px) {
  .box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .tittle_left {
    width: 100vw;
    height: auto;
    padding: 2rem 0;
  }

  .box_right {
    width: 100vw;
    height: auto;
    padding: 2rem 1rem;
  }
}


/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}